<command>
    <name>ipset-block</name>
    <executable>ipset-block.sh</executable>
    <timeout_allowed>yes</timeout_allowed>
</command>

<active-response>
    <disabled>no</disabled>
    <command>ipset-block</command>
    <location>local</location>
    <rules_id>100050</rules_id>
    <timeout>600</timeout>
</active-response>
