<ossec_config>
    <localfile>
        <log_format>json</log_format>
        <location>/var/log/anti_DOS/anti_DOS.log</location>
        <only-future-events>yes</only-future-events>
    </localfile>
</ossec_config>
